# Pinecone
PINECONE_API_KEY=
PINECONE_INDEX_NAME=antigravity
PINECONE_INDEX_HOST=

# Gemini
GEMINI_API_KEY=
GEMINI_EMBEDDING_MODEL=gemini-embedding-2-preview
GEMINI_CHAT_MODEL=gemini-2.0-flash-lite

# Server
PORT=3001
